<div class="container w-75 p-3">
  <h2>User Settings</h2>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group mb-2">
      <label for="name">Name</label>
      <input
        id="name"
        name="name"
        class="form-control"
        [(ngModel)]="userSettings.name"
        required
        #nameField="ngModel"
        (blur)="onBlur(nameField)"
        [class.field-error]="form.submitted && nameField.invalid"
      />
      <div
        [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger"
      >
        Enter a name
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary mb-2"
      name="singleModel"
      [(ngModel)]="singleModel"
      btnCheckbox
    >
      {{ singleModel ? "On" : "Off" }}
    </button>

    <div class="form-check form-group mb-2">
      <input
        name="emailOffers"
        class="form-check-input"
        type="checkbox"
        value=""
        id="emailOffers"
        [(ngModel)]="userSettings.emailOffers"
      />
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>

    <p>User Interface Style</p>
    <div class="form-group mb-2">
      <div class="btn-group">
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.style"
          btnRadio="Light"
          tabindex="0"
          role="button"
          name="style"
          >Light</label
        >
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.style"
          btnRadio="Medium"
          tabindex="0"
          role="button"
          name="style"
          >Medium</label
        >
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.style"
          btnRadio="Dark"
          tabindex="0"
          role="button"
          name="style"
          >Dark</label
        >
      </div>
      <!-- <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="light"
          name="style"
          id="style1"
          [(ngModel)]="userSettings.style"
        />
        <label class="form-check-label" for="style1"> Light </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="medium"
          name="style"
          id="style2"
          [(ngModel)]="userSettings.style"
        />
        <label class="form-check-label" for="style2"> Medium </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="dark"
          name="style"
          id="style3"
          [(ngModel)]="userSettings.style"
        />
        <label class="form-check-label" for="style3"> Dark </label>
      </div> -->
    </div>

    <div class="form-group mb-2">
      <label for="startDate"></label>
      <input
        type="text"
        name="startDate"
        id="startDate"
        placeholder="Start Date"
        [(ngModel)]="startDate"
        class="form-control"
        bsDatepicker
      />
    </div>

    <div class="form-group mb-2">
      <label for="startTime">StartTime</label>
      <timepicker
        [(ngModel)]="startTime"
        name="startTime"
        id="startTime"
      ></timepicker>
      <pre class="alert alert-info">Time is: {{ startTime }}</pre>
    </div>

    <div class="form-group mb-2">
      <label for="SubscriptionType">Subscription Type</label>
      <select
        class="form-control"
        id="SubscriptionType"
        name="subscriptionType"
        [(ngModel)]="userSettings.subscriptionType"
      >
        <option *ngFor="let type of subscriptionTypes | async">
          {{ type }}
        </option>
      </select>
    </div>

    <div class="form-group mb-2">
      User Rating
      <rating
        [(ngModel)]="rate"
        [max]="max"
        (onHover)="hoveringOver($event)"
        name="rate"
        id="rate"
      ></rating>

        <pre
          class="card-block card-header"
          style="margin: 15px 0"
        >Rating: <b>{{rate}}</b></pre>
    </div>

    <div class="form-group mb-2">
      <label for="notes">Notes</label>
      <textarea
        name="notes"
        id="notes"
        rows="3"
        class="form-control"
        [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
<!-- 
{{ userSettings | json }} -->
